.canvasStyle {
    background-color: honeydew;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-flow: column;

    .info {
        padding: 16px;
        border-top: 5px solid teal;
        justify-content: center;
        display: flex;
        text-align: center;
        align-items: center;
        input {
            border-left: 5px solid teal;
            margin-left: 16px;
            margin-right: 16px;
            height: 30px;
            font-size: 16px;
        }
    }
}

body {
    background-color: teal;
    margin: 0;
    height: 20000px;
    padding: 0;
}

.reset {
    background: #faa600;
    color: white;
    width: 120px;
    height: 30px;
    margin-left: 16px;
    cursor: pointer;
}