.rdpCan {
  background-color: honeydew;
  margin: 20px 0 auto;
}

body {
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}